1. Login Screen
2. Customer Registration Form
3. Retailer Registration Form
4. Admin Console To Edit Customers and Retailer details
5. Retailer adding Products to its Store
6. Customer Home Page
7. Retailer Home Page
8. Customer Tabs
9. Retailer Tabs
10.Invoice Generation,Mails & SMS updates - dynamically Product Count updation in Retailer Store
11.Download PDFs/Reports of Bills
12.Mode of Payment - Cash/Card - POS
13.Taxation & Discount
14.Product Registrations